<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="background-container"></div>
    <header style="background-color:  rgb(243, 182, 224);">
        <nav class="nav-pages">
                <a href="../index.html">Home</a>
                <a href="./acerca.html">Acerca de</a>
                <a href="./registro.html">Registrate</a>
                <a href="./sucursales.html">Sucursales</a>
        </nav>
        <h1 style="text-align: center;"><strong>Dulces LyA</strong></h1>
    </header>
    <main>
      <h1 class="titulo-principal">Contacto</h1>
      <h2> enviame suegerencias de tus recetas</h2>
      <h3>
       <ul>
        <li><a href="https://www.instagram.com/dulces.lya/" target="_blank" ><i class="fab fa-instagram"></i></i>INSTAGRAM</a></li>
        <li> <a href="tel:54901100000000"><i class="fab fa-whatsapp"></i>Whatsapp</a></li>
        <li><a href="mailto:jacquigrajeda25@gmail.com"><i class="fas fa-envelope"></i>GMail</a> </li>
       </ul>
        
      
       
      
      </h3>
    </main>
    <footer style="background-color: rgb(243, 182, 224); text-align: center;">
        <a href="https://www.twitter.com" target="_blank"><i class="fab  fa-twitter"></i></a>
        <a href="https://www.facebook.com"  target="_blank"><i class="fab fa-facebook"></i></i></a>
        <a href="https://www.pinteres" target="_blank" ><i class="fab fa-pinterest"></i></i></a>
        <a href="https://www.instagram.com/dulces.lya/" target="_blank" ><i class="fab fa-instagram"></i></i></a>
        <a href="https://www.linkedin.com/in/emanuel-gauna/" target="_blank" ><i class="fab fa-linkedin"></i></i></a>

        <p style="text-align: center;">Derechos reservados @2024</p>
    </footer>
</body>
</html>